# Change type of a Pandas Dataframe column

### Imports

In [1]:
% matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df =  pd.DataFrame(np.arange(15).reshape(3,5), columns = list("ABCDE"))
df.dtypes

A    int32
B    int32
C    int32
D    int32
E    int32
dtype: object

### To string

In [3]:
df.A = df.A.astype(str)
df.dtypes

A    object
B     int32
C     int32
D     int32
E     int32
dtype: object

### To float

In [4]:
df.B = df.B.astype(float)
df.dtypes

A     object
B    float64
C      int32
D      int32
E      int32
dtype: object

### To int

In [5]:
df.B = df.B.astype(int)
df.dtypes

A    object
B     int32
C     int32
D     int32
E     int32
dtype: object

### to bool

In [6]:
df["bools"] = [0,0,1]
df.head()

    A   B   C   D   E  bools
0   0   1   2   3   4      0
1   5   6   7   8   9      0
2  10  11  12  13  14      1

In [7]:
df.bools = df.bools.astype(bool)
print df
df.dtypes

    A   B   C   D   E  bools
0   0   1   2   3   4  False
1   5   6   7   8   9  False
2  10  11  12  13  14   True

A        object
B         int32
C         int32
D         int32
E         int32
bools      bool
dtype: object