# Change order of columns of a Pandas Dataframe

Credit to: http://stackoverflow.com/questions/13148429/how-to-change-the-order-of-dataframe-columns

### Imports

In [1]:
% matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(20,5), columns = list("ABCDE"))
df.head()

          A         B         C         D         E
0 -0.465870  0.350271 -0.391355  1.652347 -0.856344
1  0.580712 -0.736599 -1.125205  0.094248 -0.904447
2  0.467904 -2.014680  1.564260  1.133927  0.014194
3  0.305570  1.749059 -1.854975 -0.192249  0.079929
4  1.239324 -0.823224  0.021715 -0.866583 -0.143002

In [3]:
df["maxes"] = df.max(axis=1)
df.head()

          A         B         C         D         E     maxes
0 -0.465870  0.350271 -0.391355  1.652347 -0.856344  1.652347
1  0.580712 -0.736599 -1.125205  0.094248 -0.904447  0.580712
2  0.467904 -2.014680  1.564260  1.133927  0.014194  1.564260
3  0.305570  1.749059 -1.854975 -0.192249  0.079929  1.749059
4  1.239324 -0.823224  0.021715 -0.866583 -0.143002  1.239324

### Change column order

In [4]:
cols = df.columns.tolist()
cols

['A', 'B', 'C', 'D', 'E', 'maxes']

In [5]:
cols = cols[-1:] + cols[:-1] 
cols

['maxes', 'A', 'B', 'C', 'D', 'E']

In [6]:
df = df[cols]
df.head()

      maxes         A         B         C         D         E
0  1.652347 -0.465870  0.350271 -0.391355  1.652347 -0.856344
1  0.580712  0.580712 -0.736599 -1.125205  0.094248 -0.904447
2  1.564260  0.467904 -2.014680  1.564260  1.133927  0.014194
3  1.749059  0.305570  1.749059 -1.854975 -0.192249  0.079929
4  1.239324  1.239324 -0.823224  0.021715 -0.866583 -0.143002