# loc[ ] vs iloc[ ] vs ix[ ] in Pandas

### Imports

In [1]:
% matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.DataFrame(np.random.randn(5,5), columns = list("ABCDE"))
df

          A         B         C         D         E
0  0.481138 -0.836912  1.727949  0.777779  0.735387
1  1.992561 -0.692921  0.060170 -1.180734 -0.822875
2  1.361803 -0.459099  0.596075 -0.843475 -0.152430
3 -0.813966 -2.166506 -0.073822 -0.134159 -1.205575
4  0.129851 -1.245814  1.614511  0.991518  0.135556

### loc[ ] works with labels

In [3]:
df.loc[0]

A    0.481138
B   -0.836912
C    1.727949
D    0.777779
E    0.735387
Name: 0, dtype: float64

In [4]:
df.loc[0,"A"]

0.48113768348802222

In [5]:
# Equivalent to
df.at[0,"A"]

0.48113768348802222

In [6]:
df.loc[:,"A":"C"]

          A         B         C
0  0.481138 -0.836912  1.727949
1  1.992561 -0.692921  0.060170
2  1.361803 -0.459099  0.596075
3 -0.813966 -2.166506 -0.073822
4  0.129851 -1.245814  1.614511

### iloc[ ] works with integers

In [7]:
df["indexcol"] = ["tom","max","alex","chris","john"]
df.set_index("indexcol", inplace=True)
df

                 A         B         C         D         E
indexcol
tom       0.481138 -0.836912  1.727949  0.777779  0.735387
max       1.992561 -0.692921  0.060170 -1.180734 -0.822875
alex      1.361803 -0.459099  0.596075 -0.843475 -0.152430
chris    -0.813966 -2.166506 -0.073822 -0.134159 -1.205575
john      0.129851 -1.245814  1.614511  0.991518  0.135556

In [8]:
# get first row
df.iloc[0]

A    0.481138
B   -0.836912
C    1.727949
D    0.777779
E    0.735387
Name: tom, dtype: float64

In [9]:
# Gets first column
df.iloc[:,0]

indexcol
tom      0.481138
max      1.992561
alex     1.361803
chris   -0.813966
john     0.129851
Name: A, dtype: float64

In [10]:
df.iloc[3,4]

-1.2055748658114276

In [11]:
#Equivalent to
df.iat[3,4]

-1.2055748658114276

### ix[ ] works with labels and integers

In [12]:
df

                 A         B         C         D         E
indexcol
tom       0.481138 -0.836912  1.727949  0.777779  0.735387
max       1.992561 -0.692921  0.060170 -1.180734 -0.822875
alex      1.361803 -0.459099  0.596075 -0.843475 -0.152430
chris    -0.813966 -2.166506 -0.073822 -0.134159 -1.205575
john      0.129851 -1.245814  1.614511  0.991518  0.135556

In [13]:
df.ix[0,"B"]

-0.83691168174424424

In [14]:
df.ix["tom":"alex",0:3]

                 A         B         C
indexcol
tom       0.481138 -0.836912  1.727949
max       1.992561 -0.692921  0.060170
alex      1.361803 -0.459099  0.596075