# map() vs apply() vs applymap() in Pandas

### Imports

In [1]:
% matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

### map()

Built-in python function that applies a function to an iterable

In [2]:
a = [2,4,2,4,21,4,2,21,4,6,4,9]

map(lambda x: x*2,a)

[4, 8, 4, 8, 42, 8, 4, 42, 8, 12, 8, 18]

In [3]:
a = "someword"

map(lambda x: x.upper(), a)

['S', 'O', 'M', 'E', 'W', 'O', 'R', 'D']

### apply()

Used to apply a function to any axis of the DataFrame

In [4]:
df = pd.DataFrame(np.arange(20).reshape(4,5), columns = list("ABCDE"))
df.head()

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [5]:
df.E.apply(lambda x: x**2)

0     16
1     81
2    196
3    361
Name: E, dtype: int64

### applymap()

Used to apply a function to the whole DataFrame

In [6]:
df = pd.DataFrame(np.arange(20).reshape(4,5), columns = list("ABCDE"))
df.head()

    A   B   C   D   E
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19

In [7]:
df.applymap(lambda x: np.sqrt(x))

          A         B         C         D         E
0  0.000000  1.000000  1.414214  1.732051  2.000000
1  2.236068  2.449490  2.645751  2.828427  3.000000
2  3.162278  3.316625  3.464102  3.605551  3.741657
3  3.872983  4.000000  4.123106  4.242641  4.358899